<div class="show-comments">
  <nav>
    <a href="#/"><i class="fa fa-home"></i></a>
    <a class="toggle-user-nav"><i class="fa fa-user-circle"></i></a>
  </nav>

  <bts-user-nav class="hidden-right"></bts-user-nav>

  <div class="inner">
    <h2>{{movie.imdbData.title}}</h2>
    <h4>{{movie.imdbData.genres}}</h4>
    <p>{{movie.imdbData.plot | limitTo: 250}}</p>

    <!-- <h3>{{movie.imdbData.rating}}</h3>
    <h4>IMDb rating</h4> -->

    <figure ng-show="posterHidden">
      <img ng-src="{{movie.imdbData.poster}}" alt="">
    </figure>

    <a class="bts-default-btn" ng-show="!posterHidden" ng-click="posterHidden = !posterHidden">Show poster</a>
    <a class="bts-default-btn" ng-show="posterHidden" ng-click="posterHidden = !posterHidden">Hide poster</a>

    <div class="comments-container">
      <div class="immersion-rating-container" ng-show="user">
        <!-- <p>Rate the immersion!</p> -->
        <p>Your rating is: {{immersionRatings[userRating]}}</p>
        <bts-slider numbuttons="5" currentvalue="userRating"></bts-slider>

        <a class="bts-default-btn" ng-click="addupdateImmersion()">Rate the immersion!</a>
      </div>


      <div class="comment" ng-repeat="comment in movie.comments">
        <p>{{comment.message}}</p>
        <h4>{{comment.user}}, {{comment.time | date: 'shortDate'}}</h4>
      </div>

      <!-- <form name="comment" ng-submit="!user && addComment()"> -->
      <form name="comment" ng-show="user">
        <textarea rows="4" ng-model="newComment" placeholder="Write a comment!" required></textarea>
        <button class="bts-default-btn" type="submit">Add comment</button>
      </form>
    </div>






    <!-- test html -->







  </div>


</div>
