<div class="">
  {{movie.title}} {{movie.year}}
  <img ng-src="{{movie.poster}}" alt="">

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-repeat="source in sources"><a href="" ng-click="setSource(source)">{{source}} </a></li>
    </ul>
  </div>
  <input type="text" ng-show="movie.source === 'Other'" ng-model="other">

  <!-- <input type="text" ng-model="movie.source"> -->
  <textarea name="blurb" rows="8" cols="80" ng-model="movie.blurb"></textarea>
  <a class="btn btn-default" ng-click="addMovie(movie.imdbid, movie.source, movie.blurb)">Add</a>
</div>
