<div class="new-movie">
  <div class="row">
    <div class="col-md-2 col-md-offset-2 col-sm-3 hidden-xs">
      <img ng-src="{{movie.poster}}" alt="">
    </div>

    <div class="col-md-6 col-sm-9">
      <h2>{{movie.title}}</h2>
      <h3>Release year: {{movie.year.from || movie.year}}</h3>

      <br>
      <!-- <p>Where can I watch this?</p> -->
      <div class="dropdown source" ng-show="!exists">
        <button class="btn default-btn-style dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Where can I watch this?: {{movie.source}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li ng-repeat="source in sources"><a href="" ng-click="setSource(source)">{{source}} </a></li>
        </ul>
      </div>
      <div class="other-input" ng-show="!exists && movie.source === 'Other'">
        <input type="text" ng-model="other" placeholder="Other...">
      </div>


      <textarea name="blurb" rows="8" cols="80" ng-show="!exists" ng-model="movie.blurb" placeholder="blurb..."></textarea>
      <br>
      <p class="btn default-btn-style" ng-show="exists">Already added</p>
      <a class="btn default-btn-style add-button" ng-show="!exists" ng-click="addMovie(movie.imdbid, movie.source, movie.blurb)">Add</a>

    </div>
  </div>
</div>
