<div class="new-movie">

  <bts-overlay ng-show="exists" message="'Added!'" nexturl="'#/'"></bts-overlay>

  <h2>{{movie.title}}</h2>
  <h4>Release year: {{movie.year.from || movie.year}}</h4>

  <form>
    <div class="dropdown">
      <button class="bts-default-btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Where can I watch this? {{movieSource}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li ng-repeat="source in sources"><a href="" ng-click="setSource(source)">{{source}}</a></li>
      </ul>
    </div>
    <div class="other-input" ng-show="movieSource === 'Other'">
      <bts-input type="'text'" model="other" label="'Other'"></bts-input>
    </div>


    <textarea name="blurb" rows="8" ng-model="blurb" placeholder="Tell us why it's great for cycling!"></textarea>

    <button class="bts-default-btn" ng-click="addMovie(movie.imdbid, movieSource, blurb)">Add</button>
  </form>

</div>
