<div class="search-new-container">
  <nav>
    <a href="#/"><i class="fa fa-home"></i></a>
    <a class="toggle-user-nav"><i class="fa fa-user-circle"></i></a>
  </nav>


  <bts-user-nav class="hidden-right"></bts-user-nav>

  <form name="search-form">
    <bts-input class="search-new" type="'search'" label="'Search'" model="title" required="true"></bts-input>
    <button class="bts-default-btn" ng-click="search()"><i class="fa fa-search"></i></button>
  </form>

  <p ng-show="searchResults.length === 0">No matching titles</p>

  <div class="shows search">
    <div class="show-card-parent">
      <div ng-repeat="movie in searchResults">
        <bts-search-card movie="movie"></bts-search-card>
      </div>
    </div>
  </div>


</div>
