<div class="search-new-container">
    <form>
      <bts-input class="search-new" type="'search'" label="'Search'" model="title"></bts-input>
      <button class="bts-default-btn" ng-click="search()"><i class="fa fa-search"></i></button>
    </form>

    <p ng-show="searchResults.length === 0">No matching titles</p>

  <div class="shows search">
    <div class="show-card-parent">
      <div ng-repeat="movie in searchResults">
        <bts-search-card movie="movie"></bts-search-card>
      </div>
    </div>
  </div>


</div>
