<div>
  <div ng-show="type === 'text'" class="input-group">
    <!-- <label ng-class="model.length > 0 ? 'float' : ''">{{label}}</label> -->
    <label>{{label}}</label>
    <input type="text" ng-model="model" ng-class="inverted ? 'inverted' : ''" ng-required="required">
  </div>

  <div ng-show="type === 'email'" class="input-group">
    <!-- <label ng-class="model.length > 0 ? 'float' : ''">{{label}}</label> -->
    <label>{{label}}</label>
    <input type="email" ng-model="model" ng-class="inverted ? 'inverted' : ''" ng-required="required">
  </div>

  <div ng-show="type === 'search'" class="input-group">
    <!-- <label ng-class="model.length > 0 ? 'float' : ''">{{label}}</label> -->
    <label>{{label}}</label>
    <input type="search" ng-model="model" ng-class="inverted ? 'inverted' : ''" ng-required="required">
  </div>

  <div ng-show="type === 'password'" class="input-group">
    <label>{{label}}</label>
    <input type="password" ng-model="model" ng-class="inverted ? 'inverted' : ''" ng-required="required">
  </div>
</div>
