<div class="show-card">
  <figure>
    <img ng-src="{{movie.poster}}" alt="">
  </figure>

  <!-- <div class="watchlist" ng-class="watchlist.indexOf(movie.imdbid) === -1 ? 'add' : 'remove'">
  </div> -->

  <div class="details">
    <div class="content">
      <h2>{{movie.title}}</h2>
      <h4>{{movie.genresCommad}}</h4>
      <h3 class="source">{{movie.source}}<span ng-show="movie.sourceOther">: {{movie.sourceOther}}</span></h3>


      <p class="plot-200">{{movie.synopsis | limitTo: 200}}<span ng-show="movie.synopsis.length > 200">...</span></p>
      <p class="plot-150">{{movie.synopsis | limitTo: 150}}<span ng-show="movie.synopsis.length > 150">...</span></p>
      <p class="plot-100">{{movie.synopsis | limitTo: 100}}<span ng-show="movie.synopsis.length > 100">...</span></p>

      <!-- <a class="bts-default-btn" ng-click="addToWatchlist(movie.imdbid)" ng-show="watchlist.indexOf(movie.imdbid) === -1 && user"><i class="fa fa-plus fa-fw"></i> watchlist</a>
      <a class="bts-default-btn added" ng-click="removeFrmWatchlist(movie.imdbid)" ng-show="watchlist.indexOf(movie.imdbid) !== -1 && user"><i class="fa fa-check fa-fw"></i> watchlist</a> -->
    </div>

    <div class="buttons">
      <a class="bts-default-btn" ng-click="addToWatchlist(movie.imdbid)" ng-show="watchlist.indexOf(movie.imdbid) === -1 && user"><i class="fa fa-plus fa-fw"></i></a>
      <a class="bts-default-btn added" ng-click="removeFrmWatchlist(movie.imdbid)" ng-show="watchlist.indexOf(movie.imdbid) !== -1 && user"><i class="fa fa-check fa-fw"></i></a>
      <a class="bts-default-btn"><i class="fa fa-thumbs-up fa-fw"></i></a>
    </div>
  </div>

  <div class="stats">
    <!-- <ul>
      <li><h2>{{movie.source}}<span ng-show="movie.sourceOther">: {{movie.sourceOther}}</span></h2> <h3>- stream it there</h3></li>
      <li><h2>{{movie.runtime | minutesToHours}}</h2> <h3>training hours</h3></li>
      <li><h2>{{movie.rating}}</h2> <h3>/10 on IMDb</h3></li>
    </ul> -->

    <!-- <a class="bts-default-btn" ng-href="{{movie.imdburl}}">IMDb</a>
    <a class="bts-default-btn" ng-click="addToWatchlist(movie.imdbid)" ng-show="watchlist.indexOf(movie.imdbid) === -1 && user"><i class="fa fa-plus fa-fw"></i> Watchlist</a>
    <a class="bts-default-btn" ng-click="removeFrmWatchlist(movie.imdbid)" ng-show="watchlist.indexOf(movie.imdbid) !== -1 && user"><i class="fa fa-check fa-fw"></i> Watchlist</a> -->


    <ul>
      <!-- Add hover training hours and rating -->
      <li><h3>{{movie.runtime | minutesToHours}}</h3> <h4>hours</h4></li>
      <li><h3>{{movie.rating}}</h3><h4>/10</h4></li>
    </ul>
  </div>



  <!-- <a class="btn" href="#/" ng-click="deleteMovie(movie.imdbid)">Delete</a> -->

</div>
