<div class="">
    <i class="fa fa-search"></i> <input type="text" name="" value="" ng-model="search.$" placeholder="Search">


    <div class="dropdown sort">
      <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Sort by: {{sortOptions[prop]}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="" ng-repeat="(option, name) in sortOptions" ng-click="sortBy(option)">{{name}}</a></li>
      </ul>
    </div>


    <ul class="">
      <li>
        <label>
          <input type="radio" ng-click="setSource(null)" name="movSort" checked>
          <i class="fa fa-circle-thin fa-fw" ng-show="source !== null"></i>
          <i class="fa fa-circle fa-fw" ng-show="source === null"></i>
          All
        </label>
      </li>
      <li ng-repeat="movSource in sources">
        <label>
          <input type="radio" ng-click="setSource(movSource)" name="movSort">
          <i class="fa fa-circle-thin fa-fw" ng-show="source !== movSource"></i>
          <i class="fa fa-circle fa-fw" ng-show="source === movSource"></i>
          {{movSource}}
        </label>
      </li>
    </ul>

    <ul class="">
      <li ng-repeat="(genre, value) in genres">
        <label>
          <input type="checkbox" ng-click="toggleGenre(genre)" ng-model="genreCheckbox[genre]">
          <i class="fa fa-square-o fa-fw" ng-show="!genres[genre]"></i>
          <i class="fa fa-check-square-o fa-fw" ng-show="genres[genre]"></i>
          {{genre}}
        </label>
      </li>
    </ul>
    <a href="" ng-click="resetGenre()" class="btn reset-button default-btn-style">Reset</a>
</div>
