<div class="show-card">
  <figure>
    <img ng-src="{{movie.imdbData.poster}}" alt="">
  </figure>


  <div class="details">
    <h2>{{movie.imdbData.title}}</h2>
    <h4>{{movie.imdbData.genres}}</h4>
    <h3 class="source">{{movie.imdbData.source}}<span ng-show="movie.imdbData.sourceOther">: {{movie.imdbData.sourceOther}}</span></h3>


    <p class="plot-200">{{movie.imdbData.plot | limitTo: 200}}<span ng-show="movie.imdbData.plot.length > 200">...</span></p>
    <p class="plot-150">{{movie.imdbData.plot | limitTo: 150}}<span ng-show="movie.imdbData.plot.length > 150">...</span></p>
    <p class="plot-100">{{movie.imdbData.plot | limitTo: 100}}<span ng-show="movie.imdbData.plot.length > 100">...</span></p>

    <p class="plot-250" ng-show="plotShown">{{movie.imdbData.plot | limitTo: 250}}<span ng-show="movie.imdbData.plot.length > 250">...</span></p>


    <div class="buttons" ng-class="{relative: plotShown}">
      <a class="bts-default-btn" ng-click="addToWatchlist(movie.imdbData.imdbid)" ng-show="watchlist.indexOf(movie.imdbData.imdbid) === -1 && user"><i class="fa fa-plus fa-fw"></i></a>
      <a class="bts-default-btn added" ng-click="removeFrmWatchlist(movie.imdbData.imdbid)" ng-show="watchlist.indexOf(movie.imdbData.imdbid) !== -1 && user"><i class="fa fa-check fa-fw"></i></a>
      <a class="bts-default-btn" ng-show="likes.indexOf(movie.imdbData.imdbid) === -1" ng-click="toggleLike(movie.imdbData.imdbid)"><i class="fa fa-heart-o fa-fw"></i> {{movie.hearts}}</a>
      <a class="bts-default-btn liked" ng-show="likes.indexOf(movie.imdbData.imdbid) !== -1"><i class="fa fa-heart-o fa-fw"></i> {{movie.hearts}}</a>
      <a class="bts-default-btn" ng-show="plotShown" ng-href="#/comment/{{movie.imdbData.imdbid}}"><i class="fa fa-comment-o fa-fw"></i> {{movie.comments.length}}</a>
      <a class="bts-default-btn more" ng-click="togglePlot()"><i class="fa fa-ellipsis-h fa-fw"></i></a>
    </div>
  </div>

  <div class="stats">


    <ul>
      <!-- Add hover training hours and rating -->
      <li><h3>{{movie.imdbData.runtime | minutesToHours}}</h3> <h4>hours</h4></li>
      <li><h3>{{movie.imdbData.rating}}</h3><h4>/10</h4></li>
    </ul>
  </div>



  <!-- <a class="btn" href="#/" ng-click="deleteMovie(movie.imdbData.imdbid)">Delete</a> -->

</div>
