/* Reset */
html, body, h1, h2,
h3, p, ol, ul, li, a, input {
    padding: 0;
    border: 0;
    margin: 0; }

/* Style guide */
html {
  font-size: 16px;
}

body {
  font-size: 100%;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

nav, footer {
  font-size: 1em;
}

/**/




.show-card {
  width: 100%;
  display: flex;
  /*border-top: solid 5px #000;*/
  border-bottom: solid 2px #000;
  margin-bottom: 15px;
}
.show-card figure img {
  width: 150px;
}
.show-card .details {
  width: 70%;
  border-left: solid 2px #000;
}
.show-card .stats {
  width: 30%;
}
