/* Reset */
html, body, h1, h2,
h3, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0; }

/* Style guide */
html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  line-height: 1.5em;
}

h1 {
  font-family: 'Vesper Libre', serif;
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 0.75em;
}

nav, footer {
  font-size: 1em;
}
/****************/
body {
  /*background-color: hsl(0, 0%, 25%);*/
}

nav {
  background-color: hsla(10, 58%, 47%, 1);
}
nav a,
nav a:hover,
nav a:focus {
  color: #fff;
}

main {
  margin-top: 50px;
}

.card {
  position: relative;
  /*box-shadow: 0 5px 20px hsla(0, 0%, 10%, 1);*/
  /*margin-top: 20px;
  margin-bottom: 20px;*/
}

.card,
.movie-desc {
  display: flex;
}

.movie-desc {
  align-items: center;
  /*background-color: hsl(0, 0%, 95%);*/
  padding: 30px;
}

.more-button {
  background-color: hsla(10, 58%, 47%, 1);
  color: #fff;
  padding: 10px 15px;
}
.more-button:hover,
.more-button:focus {
  color: #fff;
}

.movie-cards img {
  min-width: 100%;
  max-width: 100%;
}



.movie-details {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(0, 0%, 80%, 0.96);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}

.movie-details .inner {
  max-width: 900px;
}

.movie-details .inner .row:first-child {
  margin-bottom: 30px;
}
.movie-details .btn-close-details {
  /*font-size: 1.5em;*/
  padding: 10px 15px;
  background-color: hsla(10, 58%, 47%, 1);
}
.movie-details .btn-close-details,
.movie-details .btn-close-details:hover,
.movie-details .btn-close-details:focus {
  text-decoration: none;
  color: #fff;
}

.runtime,
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*.runtime {
  height: 50%;
  background-color: hsl(360, 70%, 60%);
}
.rating {
  height: 50%;
  background-color: hsl(120, 70%, 60%);
}*/
.runtime {
  /*background-color: hsl(360, 70%, 60%);*/
}
.rating {
  /*background-color: hsl(120, 70%, 60%);*/
}

.poster {
  padding: 0;
}
