/* Reset */
html, body, h1, h2,
h3, p, ol, ul, li, a, input {
    padding: 0;
    border: 0;
    margin: 0; }

/* Style guide */
html {
  font-size: 16px;
}

body {
  font-size: 100%;
  line-height: 1.5em;
  font-family: 'Open Sans';
  overflow-x: hidden;
  /*-webkit-overflow-scrolling: hidden;*/
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 0.75em;
  line-height: 0.75em;
}

nav, footer {
  font-size: 1em;
}

ul li {
  list-style-type: none;
}

h1, h2, h3 {
  font-family: 'Roboto';
}

/* Sort-filter */
.sort-filter {
  padding-left: 15px;
  padding-right: 15px;
}
.sort-filter .search-show {
  text-align: center;
}
#dropdownMenu1 {
  background-color: inherit;
  border: 0;
  padding: 5px 15px;
}
.sort-filter ul.dropdown-menu {
  border-radius: 0;
  width: 100%;
  font-size: 1em;
}
.sort-filter ul.dropdown-menu li {
  padding: 5px 15px;
  cursor: pointer;
}
.sort-filter ul.dropdown-menu li:hover {
}
.sort-filter .search-show,
.sort-filter div.dropdown,
.source-list,
.genre-list {
  margin-bottom: 15px;
}




/* Shows index */
.shows-container {
  position: relative;
}
.shows-container nav {
  position: fixed;
  z-index: 9999;
}
.shows-container .sort-filter {
  position: fixed;
  transition: all 0.1s;
  z-index: -1;
  display: none;
}
.shows-container .sort-filter.visible {
  z-index: 999;
  display: block;
}
.shows {
  position: relative;
  /*width: 100%;*/
  /*display: flex;*/
  /*margin-top: 50px; /* spacing for nav */
  left: 0;
  right: 0;
  transition: left 0.25s;
  z-index: 99;
}
.shows.shift {
  /*height: 100%;
  overflow-y: hidden;*/
  /*top: -400px;*/
  position: fixed;
  left: 85%;
  right: -85%;
}
.show-card-parent {
  /*position: absolute;*/
  /*left: 0;
  right: 0;
  transition: all 0.1s;
  position: fixed;*/
}
.show-card-parent.shift {
  /*position: fixed;*/
  /*left: 100%;
  right: -100%;*/
  /* overflow needs the height to be set */
  /* prevents overflow when menus are open */
  /*height: 100%;
  overflow: hidden;*/
}



/* Show Card */
.show-card {
  width: 100%;
  display: flex;
  border-bottom: solid 1px hsl(0, 0%, 90%); /* maybe keep this at 2px */
  padding: 20px;
  min-height: 280px;
}
.show-card figure {
  width: 13.636363636%;
}
.show-card figure img {
  width: 100%;
  height: 100%;
  /*width: 150px;*/
}
.show-card .bts-default-btn.added {
  border-color: #E74C3C;
  color: #E74C3C;
}
.show-card .bts-default-btn.more {
  display: none;
}
.show-card .details {
  width: 80%;
  padding-left: 15px;
  padding-right: 15px;
  /*display: flex;*/
  /*display: block;*/
  /*align-items: center;*/
  position: relative;
}
.show-card .plot-100 {
  display: none;
}
.show-card .plot-150 {
  display: none;
}
/* Animation */
/*.show-card .plot-250 {
  height: auto;
}
.show-card .plot-250.ng-hide {
  height: 0;
}
.show-card .plot-250.ng-hide-add,
.show-card .plot-250.ng-hide-remove {
  transition: all linear 0.5s;
}*/
.show-card .details .buttons {
  position: absolute;
  bottom: 0;
}
.show-card .details .buttons.relative {
  position: relative;
}
.show-card .source,
.show-card .details p {
  margin-bottom: 20px;
}
.show-card .details ul li {
  display: inline-block;
  margin-right: 5px;
}
.show-card .stats {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.show-card .stats h2,
.show-card .stats h3,
.show-card .stats h4 {
  display: inline;
}
.show-card .more-details {
  width: 100%;
}




/* Radio and checkbox */
input[type=radio],
input[type=checkbox] {
  display: none;
}

/* Input */
input[type=text] {
  background-color: inherit;
  border-bottom: solid 2px transparent;
  transition: all 0.25s;
}
input[type=text]:focus {
  outline: none;
  border-bottom: solid 2px #fff;
}



/* Buttons */
.bts-default-btn {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border: solid 1px #2C3E50;
  color: #000;
}
.bts-default-btn:hover {
  text-decoration: none;
  color: inherit;
}








/* Media Queries */
@media only screen and (max-width: 830px) {
  .show-card .plot-200 {
    display: none;
  }
  .show-card .plot-150 {
    display: block;
  }
}
@media only screen and (max-width: 640px) {
  .show-card .plot-150 {
    display: none;
  }
  .show-card .plot-100 {
    display: block;
  }
}
@media only screen and (max-width: 550px) {
  .show-card figure {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .show-card {
    min-height: 200px;
  }
  .show-card .details p:not(.plot-250) {
    display: none;
  }
  .show-card .bts-default-btn.more {
    display: inline-block;
  }
}
