<div class="user profile edit">
  <form novalidate>
    <!-- add validation to all forms -->
    <bts-input type="'password'" label="'Current password'" model="currentPassword"></bts-input>
    <bts-input type="'password'" label="'New password'" model="password1"></bts-input>
    <bts-input type="'password'" label="'Confirm password'" model="password2"></bts-input>

    <button class="bts-default-btn" ng-submit="password1 === password2 && changePassword(user.username, currentPassword, password1)">Change password</button>
    <p class="error" ng-show="wrongPass">Wrong or mismatched password</p>
  </form>

</div>
