<div class="user login new">

  <form novalidate name='newuserform' ng-submit="newUser(user)">
    <bts-input class="inverted" type="'text'" label="'Username'" model="user.username" required="true"></bts-input>
    <p class="error inverted left" ng-show="submitted && (!user.username || user.username.indexOf(' ') !== -1)">Blank username or has space</p>

    <bts-input class="inverted" type="'text'" label="'Name'" model="user.name" required="true"></bts-input>
    <p class="error inverted left" ng-show="submitted && !user.name">Blank name</p>

    <bts-input class="inverted" type="'email'" label="'E-mail'" model="user.email" required="true"></bts-input>
    <p class="error inverted left" ng-show="submitted && !user.email">Invalid email</p>

    <bts-input class="inverted" type="'password'" label="'Password'" model="user.password" required="true"></bts-input>
    <bts-input class="inverted" type="'password'" label="'Confirm password'" model="user.password2" required="true"></bts-input>
    <p class="error inverted left" ng-show="submitted && user.password !== user.password2">Password mismatch</p>
    <p class="error inverted left" ng-show="submitted && user.password.length < 6">Password too short</p>


    <button class="bts-default-btn inverted" type="submit">Register</button><br><br>


    <p>Already a user? Log in here</p>
    <a class="bts-default-btn inverted" href="#/login">Sign In</a>
    <a class="bts-default-btn inverted" href="#/">Home</a>
  </form>

</div>
