<div class="user login">

  <form>
    <bts-input type="'text'" label="'Username'" model="user.username"></bts-input>
    <bts-input type="'text'" label="'Name'" model="user.name"></bts-input>
    <bts-input type="'password'" label="'Password'" model="user.password"></bts-input>
    <bts-input type="'password'" label="'Confirm password'" model="password2"></bts-input>


    <button class="bts-default-btn inverted" type="submit" ng-click="user.password === password2 && newUser(user)">Register</button><br><br>


    <p>Already a user? Log in here</p>
    <a class="bts-default-btn inverted" href="#/login">Sign In</a>


  </form>

</div>
