<div class="user login new">

  <form>
    <bts-input type="'text'" label="'Username'" model="user.username" inverted="true"></bts-input>
    <bts-input type="'text'" label="'Name'" model="user.name" inverted="true"></bts-input>
    <bts-input type="'email'" label="'E-mail'" model="user.email" inverted="true"></bts-input>
    <bts-input type="'password'" label="'Password'" model="user.password" inverted="true"></bts-input>
    <bts-input type="'password'" label="'Confirm password'" model="password2" inverted="true"></bts-input>


    <button class="bts-default-btn inverted" type="submit" ng-submit="user.password === password2 && newUser(user)">Register</button><br><br>


    <p>Already a user? Log in here</p>
    <a class="bts-default-btn inverted" href="#/login">Sign In</a>


  </form>

</div>
